.header {
	position: relative;
	top: 50px;
	left: 0;
	z-index: 100;
	width: 100%;
	/* height: 4.2rem; */
	margin: 0 auto;
	transition: all 0.35s ease;
	/* max-height: 20vh; */
}

.navLogo{
	display: inline-block;
	width: fit-content;
	margin-left: 2rem;

}
.navLogo svg{
	width: 100%;
}

 /* .header.on-scroll {
	 background: var(--color-black-300);
	 box-shadow: var(--shadow-medium);
} */
 .navbar {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 justify-content: flex-start;
	 column-gap: 3rem;
	 width: 90%;
	 /* height: 4.25rem; */
	 margin: 0 auto;
}

.navProfile>a img{
	border-radius: 50%;
	border: 3px solid white;
	width: 100%;
	padding: .7rem;
}
.navProfile>a img:hover{
	
	border: 3px solid yellow;
}
.menu{
	display: flex;
	flex: 1;
	align-items: center;
	margin-top: 12px;
}

 .menu.is-active {
	 top: 0;
	 width: 100%;
	 height: auto;
}
 .menu-inner {
	 display: flex;
	 flex-direction: row;
	 margin-left: auto;
	 gap:5rem;
	 align-items: center;
}
 .menu-link {
	 font-family: inherit;
	 font-size: 1rem;
	 font-weight: 500;
	 line-height: 1.5;
	 color: var(--color-white-100);
	 text-transform: uppercase;
	 transition: all 0.3s ease;
	 /* margin-right: 5rem; */
}
.menu-inner>li:last-child{
	display: inline;
	border: 3px solid white;
	padding: 5px 10px;
	border-radius: 30px;
}
.menu-inner>li:last-child:hover{
	border: 3px solid yellow;
}
.navSvg{
	position: absolute;
	 top: -1rem;
	  left: 2rem;
	  z-index: -1;
}
.navSvg svg{
	width: 100%;
	height: 100%;
}