@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
:root{
  --body-background:#2b2a29;
  
  --color-title-heading:#fefefe;
  --color-title-subheading:rgb(206,206,206);
  
  --color-button-primery:rgb(255,255,0);
  
  --font-title-heading:#fff;

  --border-primery:'3px solid white'
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;
}

body{
  overflow-x: hidden;
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  height: -webkit-fill-available;
  color: var(--color-white-100);
  background-color: var(--color-black-500);
}
input{
  outline: none;
  color: inherit;
  background: inherit;
}